@using System.Xml.Serialization
@using HotelService.Models.Base
@model IEnumerable<HotelService.Models.Base.User>
@{
    ViewBag.Title = "Users";
    Layout = "/Areas/Admin/_AdminLayout.cshtml";
}
<div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-6 col-sm-12 col-lg-6">
            <img src="~/img/Home/card.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
        </div>
        <div class="col-6 col-lg-6 col-sm-12">
            <h1 class="display-5 fw-bold lh-1 mb-3">Управление учетными записями</h1>
            <p class="lead">Будьте внимательны при добавлении новых пользователей, не задавайте поле Пароль, если не хотите его изменить.</p>
        </div>
    </div>
    </div>
<div class="row g-4">
    <div class="col-md-12">
        <div class="view-table">
            @await Html.PartialAsync("_ViewTable")
        </div>
    </div>
    <div class="col-md-12">
    </div>

</div>
   




