@model HotelService.Models.Base.Service
@{
    ViewData["Title"] = "Edit Service";
    Layout = "/Areas/Admin/_AdminLayout.cshtml";
}


<div class="container">
    <form asp-action="Edit" asp-controller="Service" asp-route-ServiceId="@Model.ServiceId">
        <div asp-validation-summary="All" class="text-danger"></div>

        @* Title *@
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-bookmark"></i>
                </span>
                <input type="text" asp-for="Title" class="form-control" placeholder="Title" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        @* Subtitle *@
        <div class="form-group">
            <label asp-for="Subtitle" class="control-label">Subtitle</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="far fa-bookmark"></i>
                </span>
                <input type="text" asp-for="Subtitle" class="form-control" placeholder="Subtitle" />
            </div>
            <span asp-validation-for="Subtitle" class="text-danger"></span>
        </div>

        @* CategoryId *@
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Category</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-bars"></i>
                </span>

                <select asp-for="CategoryId" asp-items="ViewBag.SelectCategories" class="form-select">
                    <option selected="selected" disabled="disabled">@Model.Category.Title</option>
                </select>
            </div>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        @* Cost *@
        <div class="form-group">
            <label asp-for="Cost" class="control-label">Cost</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-coins"></i>
                </span>
                <input type="number" asp-for="Cost" class="form-control" placeholder="Cost" value="@((int)Model.Cost)"/>
            </div>
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>

        @* ImagePath *@
        <div class="form-group">
            <label asp-for="ImagePath" class="control-label">Image</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-image"></i>
                </span>

                <input asp-for="ImagePath" class="form-control" type="file" id="formFile">
            </div>
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>

        @* Description *@
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-user-edit"></i>
                </span>
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success" />
        </div>
    </form>
</div>