@using System.Xml.Serialization
@using HotelService.Models.Base
@model IEnumerable<HotelService.Models.Base.Service>
@{
    ViewBag.Title = "Services";
    Layout = "/Areas/Admin/_AdminLayout.cshtml";
}

<div class="container">
    <hr />
    <h1 class="text-center"><i class="fas fa-compass text-success"></i> @Config.CompanyName Services</h1>
    <hr />

    <div class="view-table">
        @await Html.PartialAsync("_ViewTable")
    </div>
</div>


