<footer class="my-5 pt-5 text-muted text-center text-small bg-light pb-3">
    <p class="mb-1">© 2017–2021 Выпускная квалификационная работа</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a asp-controller="Home" asp-action="Contact">Контакты</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Вверх</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Поддержка</a>
        </li>
    </ul>
</footer>