@using Microsoft.AspNetCore.Identity
@using HotelService.Models.Base
@using HotelService.Service
@using Microsoft.CodeAnalysis.CSharp.Syntax
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    // Корзина заказов
    @if (User.IsInRole(RoleType.Client.ToString()))
    {
        <span class="text-muted d-none d-sm-inline">Заказов 0 </span>
        <a class="btn btn-outline-info" asp-area="Admin" asp-controller="Home" asp-action="Index" title="Admin"><i class="fas fa-shopping-bag"></i></a>
    }
    // Группа кнопок для профиля и выхода.
    <form id="logoutForm" class="d-flex" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">

            @if (User.IsInRole(Developer.Role) || User.IsInRole(RoleType.Admin.ToString()))
            {
                <a id="manage" class="btn btn-primary text-light" asp-area="Admin" asp-controller="Home" asp-action="Index" title="Admin"><i class="fas fa-unlock"></i></a>

            }
            else if (User.IsInRole(RoleType.SystemEmployee.ToString()))
            {
                <a id="manage" class="btn btn-warning text-light" asp-area="Admin" asp-controller="Home" asp-action="Index" title="Admin"><i class="fas fa-unlock"> @UserManager.GetUserName(User)</i></a>

            }
            else if (User.IsInRole(RoleType.Client.ToString()))
            {
                <a id="manage" class="btn btn-success text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">Hello, @UserManager.GetUserName(User)[..UserManager.GetUserName(User).IndexOf('@')]!</a>
            }

            <button id="logout" type="submit" class="btn btn-danger text-light"><i class="fas fa-sign-out-alt"></i></button>
        </div>

    </form>
}
else
{
    // Авторизация/Регистрация
    <a class="btn btn-success text-light" asp-area="Identity" asp-page="/Account/Login" title="Profile">Login <i class="fas fa-user-circle"></i></a>
}


