@using Microsoft.AspNetCore.Identity
@using HotelService.Models.Base
@using HotelService.Service
@using Microsoft.CodeAnalysis.CSharp.Syntax
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(Developer.Role) || User.IsInRole(RoleType.Admin.ToString()))
    {
        <a id="manage" class="btn btn-primary text-light" asp-area="Admin" asp-controller="Home" asp-action="Index" title="Admin"><i class="fas fa-unlock"></i></a>

    }
    else
    {
        <a id="manage" class="btn btn-success text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">Hello, @UserManager.GetUserName(User)[..UserManager.GetUserName(User).IndexOf('@')]!</a>
    }

        <button id="logout" type="submit" class="btn btn-danger text-light"><i class="fas fa-sign-out-alt"></i></button>
    }
else
{
    <a class="btn btn-success text-light" asp-area="Identity" asp-page="/Account/Login" title="Profile">Login <i class="fas fa-user-circle"></i></a>
}


