@using Microsoft.AspNetCore.Identity
@using HotelService.Models.Base
@using HotelService.Service
@using Microsoft.CodeAnalysis.CSharp.Syntax
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@* Navbar *@
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            @*<i class="fas fa-concierge-bell"></i>*@
            <img src="~/images/logo_brand.svg" alt="" width="60" height="24" class="d-inline-block align-text-top" />
            HotelService
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Album" asp-controller="Home" asp-area="">Album</a>
                </li>
                @* Услуги клиетов *@
                <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Service Info <i class="fas fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Types of categorys <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Popular categorys <i class="fas fa-angle-double-right"></i></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">View more...</a>
                            </li>
                        </ul>
                    </li>
                

                <li class="nav-item">
                    <a class="nav-link" asp-action="Contact" asp-controller="Home" asp-area="">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="About" asp-controller="Home" asp-area="">About</a>
                </li>
            </ul>

            <form id="logoutForm" class="d-flex" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </form>
            
        </div>
    </div>
</nav>