@using Microsoft.AspNetCore.Identity
@using HotelService.Models.Base
@using HotelService.Service
@using Microsoft.CodeAnalysis.CSharp.Syntax
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@* Navbar *@
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            @*<i class="fas fa-concierge-bell"></i>*@
            <img src="~/img/logo_brand.svg" alt="Logo" width="80" height="40" class="d-inline-block" />
            @Config.CompanyName
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Album" asp-controller="Home" asp-area="">Альбом</a>
                </li>
                @* Услуги клиетов *@
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Сервис <i class="fas fa-angle-down"></i>
                    </a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole(Developer.Role) || User.IsInRole(RoleType.Admin.ToString()) || User.IsInRole(RoleType.Client.ToString()))
                        {
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Home" asp-action="Index">Категории <i class="fas fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-warning" href="#">Избранное</a>
                                </li>
                            </ul>
                        }
                        else if (User.IsInRole(RoleType.SystemEmployee.ToString()))
                        {
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Наши услуги <i class="fas fa-angle-right"></i></a>
                                </li>
                            </ul>
                        }
                    }
                    else
                    {
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Просмотреть каталог <i class="fas fa-angle-right"></i></a>
                    </li>
                </ul>
                    }
                    
                </li>


                <li class="nav-item">
                    <a class="nav-link" asp-action="Contact" asp-controller="Home" asp-area="">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="About" asp-controller="Home" asp-area="">Статьи</a>
                </li>
            </ul>

            <partial name="_LoginPartial.cshtml" />

        </div>
    </div>
</nav>