@model HotelService.Models.Base.ServiceCategory
@{
    ViewData["Title"] = "Add Category";
    //Layout = "/Areas/Admin/_AdminLayout.cshtml";
}

<div class="container">
    <form asp-action="CreateEdit" asp-controller="ServiceCategory" asp-route-id="@Model.Id" method="post" onsubmit="return jQueryAjaxPost(this);">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-6">
                @* Title *@
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-bookmark"></i>
                        </span>
                        <input type="text" asp-for="Title" class="form-control" placeholder="Title" />
                    </div>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                @* Subtitle *@
                <div class="form-group">
                    <label asp-for="Subtitle" class="control-label">Subtitle</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="far fa-bookmark"></i>
                        </span>
                        <input type="text" asp-for="Subtitle" class="form-control" placeholder="Subtitle" />
                    </div>
                    <span asp-validation-for="Subtitle" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @* SubCategoryId *@
                <div class="form-group">
                    <label asp-for="SubCategoryId" class="control-label">Subinput</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-bars"></i>
                        </span>

                        <select asp-for="SubCategoryId" asp-items="ViewBag.SelectCategories" class="form-select">
                            @if (@Model.SubCategory == null)
                            {
                                <option selected="selected" disabled="disabled" value="">None</option>
                            }
                            else
                            {
                                <option selected="selected" value="@Model.SubCategory.Id">@(Model.SubCategory.Title)</option>
                                <option value="">None</option>
                            }

                        </select>
                    </div>
                    <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8">
                @* ImagePath *@
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label">Image</label>
                    <div class="input-group mb-3">
                        @*<span class="input-group-text">
                            <i class="fas fa-image"></i>
                        </span>*@

                        <input asp-for="ImagePath" class="form-control" type="file" id="formFile">
                    </div>
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            @* Description *@
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-user-edit"></i>
                    </span>
                    <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success w-100" onsubmit="return jQueryAjaxPost(this);" />
        </div>
    </form>
</div>
