@model HotelService.Models.Base.ServiceCategory
@{
    ViewData["Title"] = $"Details {Model.Title}";
    Layout = "/Areas/Admin/_AdminLayout.cshtml";
}
<h2>Service @Model.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Identification</dt>
        <dd>@Model.CategoryId</dd>

        <dt>Subtitle</dt>
        <dd>@Model.Subtitle</dd>

        <dt>Cost</dt>
        <dd>@Model.SubCategoryId</dd>
    </dl>
</div>