@model HotelService.Models.Base.ServiceCategory
@{
    ViewData["Title"] = "Edit Service";
    Layout = "/Areas/Admin/_AdminLayout.cshtml";
}

<div class="container">
    <form asp-action="Edit" asp-controller="ServiceCategory" asp-route-CategoryId="@Model.CategoryId">
        <div asp-validation-summary="All" class="text-danger"></div>

        @* Title *@
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-bookmark"></i>
                </span>
                <input type="text" asp-for="Title" class="form-control" placeholder="Title" aria-describedby="basic-addon1" />
            </div>
            <span asp-validation-for="Title" class="text-danger mb-3"></span>
        </div>

        @* Subtitle *@
        <div class="form-group">
            <label asp-for="Subtitle" class="control-label">Subtitle</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="far fa-bookmark"></i>
                </span>
                <input type="text" asp-for="Subtitle" class="form-control" placeholder="Subtitle" aria-describedby="basic-addon1" />
            </div>
            <span asp-validation-for="Subtitle" class="text-danger mb-3"></span>
        </div>

        @* SubCategoryId *@
        <div class="form-group">
            <label asp-for="SubCategoryId" class="control-label">Subcategory</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-bars"></i>
                </span>

                <select asp-for="SubCategoryId" asp-items="ViewBag.SelectCategories" class="form-select">
                    @if (Model.SubCategoryId == null)
                    {
                        <option selected="selected" disabled="disabled" value="">None</option>
                    }
                    else
                    {
                        <option selected="selected" disabled="disabled">@Model.SubCategory.Title</option>
                        <option value="">None</option>
                    }
                </select>
            </div>
            <span asp-validation-for="SubCategoryId" class="text-danger mb-3"></span>
        </div>

        @* ImagePath *@
        <div class="form-group">
            <label asp-for="ImagePath" class="control-label">Image</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-image"></i>
                </span>

                <input asp-for="ImagePath" class="form-control" type="file" id="formFile">
            </div>
            <span asp-validation-for="ImagePath" class="text-danger mb-3"></span>
        </div>

        @* Description *@
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-user-edit"></i>
                </span>
                <textarea asp-for="Description" class="form-control" placeholder="Description" aria-describedby="basic-addon1"></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger mb-3"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success" />
        </div>
    </form>
</div>
   