@model IEnumerable<HotelService.Models.Base.Service>

@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Areas/Client/_ClientLayout.cshtml";
}

<h1>Catalog</h1>

<p>
    <a asp-action="Index" asp-controller="Home" asp-area="Client">Create New</a>
</p>
