@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Areas/Client/_ClientLayout.cshtml";
}

<div class="h-100">
    <form class="row-cols-auto row">
        <div class="col-9">
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                    <input name="name" value="" class="form-control" placeholder="Салат Цезарь..."/>
                    @*<span asp-validation-for="SubCategoryId" class="text-danger"></span>*@
                </div>
            </div>
        </div>
        <div class="col-3">
            <input type="submit" value="Поиск" class="btn btn-primary w-100"/>
        </div>
    </form>

    <div class="row">
        <div class="text-center text-light p-4">
            <img class="d-block mx-auto mb-4" src="~/img/Home/Search engine _Monochromatic.svg" alt="" width="500" height="400">
            <h2>Быстрый старт</h2>
            <p class="lead">Не хотите просматривать наш каталог? Попробуйте найти то, что Вам необходимо с помощью формы выше.</p>
        </div>
    </div>
</div>