<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- NuGet Package Bootstrap5 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fontawesome-5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/default.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .render .btn {
            margin: 10px 0 0 0;
        }    
    </style>
    

    <!-- NuGet Package Bootstrap5 -->
    <script defer src="~/lib/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <script defer src="~/lib/fontawesome-5.15.3/js/all.min.js"></script>
    <script defer src="~/lib/jquery/jquery-3.6.0.min.js"></script>
</head>

<body class="gradient">

    <partial name="/Views/Shared/_NavbarPartial.cshtml" />

    <div class="container render">
        <main class="my-5 rounded-3 bg-light p-3">
            @RenderBody()
        </main>
    </div>

    @* Footer *@

    <partial name="/Views/Shared/_FooterPartial.cshtml" />

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>