@model HotelService.Models.Base.ServiceCategory

@{
    ViewData["Title"] = $"{Model.Title}";
    //Layout = "/Areas/Admin/_AdminLayout.cshtml";
}

<div class="container">

    <h3>Вы уверены, что хотите удалить категорию и все услуги, входящие в нее?</h3>
    <div>
        <hr />

        <table class="table table-hover table-bordered table-striped align-middle text-center">
            <tr>
                <th>Заголовок</th>
                <th>Подзаголовок</th>
                <th>Подкатегория</th>
            </tr>
            <tr>
                <th>@Model.Title</th>
                <th>@Model.Subtitle</th>
                <th>@(Model.SubCategory?.Title ?? "-")</th>
            </tr>
        </table>

        <form asp-action="Delete">
            <input type="submit" value="Удалить" class="btn btn-danger w-100" />
        </form>
    </div>

</div>
