@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- NuGet Package Bootstrap5 -->
    <link href="~/lib/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Иконки -->
    <link href="~/lib/fontawesome-5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel="stylesheet" type="text/css">
    <!-- Собственные стили -->
    <link href="~/css/default.css" rel="stylesheet" type="text/css">
    <link href="~/css/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="~/css/client.css" rel="stylesheet" type="text/css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/css/dataTables.bootstrap5.min.css" />

    @* Открытие изображения в окне *@
    <script type="text/javascript">
        function openImageWindow(src) {
            var image = new Image();
            image.src = src;
            var width = image.width;
            var height = image.height;
            window.open(src, "Image", "width=" + width + ",height=" + height);
        }
    </script>
</head>


<body id="body-pd" class="gradient">
<header class="header" id="header">
 
            <div class="header_toggle text-start">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        
        <div class="text-center d-inline-block d-none d-md-inline" style="margin-left: 16vh;">
            <a class="navbar-brand text-dark text-end" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo_brand.svg" alt="Logo" width="70" height="50" class="d-inline-block pb-1"/>
                @Config.CompanyName
            </a>
        </div>
        
            @if (SignInManager.IsSignedIn(User))
            {
                // Корзина заказов
                @if (User.IsInRole(RoleType.Client.ToString()))
                {
                    <div class="text-end">
                        @await Component.InvokeAsync("CartSummary")
                    </div>

                }
            }

</header>

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <div class="">
                <a asp-controller="Home" asp-area="Client" asp-action="Index" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Service Panel</span> </a>
            </div>

            <div class="nav_list">
                <ul class="nav nav-pills" id="menu">
                    <li>
                        <a href='/Client/Catalog/Index' class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Категории</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Профиль</span> </a>
                    </li>                   
                    <li>
                        <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Избранное</span> </a>
                    </li>
                    <li>
                        <a asp-controller="Order"  asp-area="Client" asp-action="Index" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Заказы</span> </a>
                    </li>
                </ul>
            </div>
        </div>

        <a asp-controller="Home" asp-area="" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Главная</span> </a>
    </nav>
</div>

<!--Container Main start-->

<div class="">
    <div class="container">
        @RenderBody()
    </div>
</div>


@*<section class="shadow">
    <partial name="~/Views/Shared/_FooterPartial.cshtml"/>
</section>*@


<!-- NuGet Package Bootstrap5 -->
<script src="~/lib/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
<!-- NuGet Package Bootstrap5 -->
<script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
<!-- Иконки -->
<script src="~/lib/fontawesome-5.15.3/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>

<!-- DataTables & Charts -->
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>
<!-- Собственные скрипты -->
<script src="~/js/sidebar.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>