@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Areas/Client/_ClientLayout.cshtml";
}

<div class="col-12">
    <div class=" text-center text-light">
        <img class="d-block mx-auto mb-4" src="~/img/Home/Piggy bank_Monochromatic.png" alt="" width="300" height="300">
        <h2>Спасибо за заказ.</h2>
        <p>При возникновении вопросов, обратитесь к администратору или прочитайте <a href="">подсказки</a> на нашем сайте</p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2>Thanks!</h2>
    </div>
    <div class="card-body">
        <p>Мы постараемся обработать Ваш заказ как можно скорее.</p>
        <p>Вы можете отслеживать и отменять заявки в своем <a href="#">кабинете</a></p>
    </div>
</div>