@{
    ViewData["Title"] = "Contact";
}

<main class="container bg-light my-5 rounded-3 p-3">

    <h3 class="text-center text-muted">Connect with us</h3>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <h3 class="text-center text-muted">You can add some photos to describe your problem</h3>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>
    <h2 class="text-center text-muted">You can find us here</h2>

    <div class="justify-content-center text-center">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1424.7767882797461!2d38.20439025820414!3d44.42180569477563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f2295b195d5df3%3A0xb8094d3683f380ca!2z0LMuINCT0LXQu9C10L3QtNC20LjQuiwg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksIDM1MzQ5Mg!5e0!3m2!1sru!2sru!4v1620692926134!5m2!1sru!2sru" width="800" height="600" style="border: 0;" allowfullscreen="true" loading="lazy"></iframe>
        <img src="~/images/Home/contact.jpg" class="img-fluid p-5" alt="Putin">
    </div>

</main>