@using Microsoft.AspNetCore.Identity
@using HotelService.Models.Base
@using HotelService.Service
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = @Config.CompanyName;
}

<header class="page-header" style="background: #fff">
    @*<div class="container">*@
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/Home/slide-1.jpg" class="d-block w-100" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Первый в России гостиничнй комплекс такого уровня</h5>
                    <p>Великолепные виды, современный сервис, превосходная кухня, всемовозможные услуги</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/Home/slide-2.jpg" class="d-block w-100" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Расположен в шаговой доступности от моря</h5>
                    <p>Наш гостиничный комплекс располагается на мысе Идокопас, с которого вы можете любоваться видами Черного моря или же спуститься и окунуться в них</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/Home/slide-3.jpg" class="d-block w-100" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Современные технологии</h5>
                    <p>Нош гостиничный комплекс оборудован новейшими технологиями, благодаря которым Вы получите превосходный сервис</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    @*</div>*@
</header>

<div class="px-4 py-5 text-center" style="background: #fff">
    <img class="d-block mx-auto mb-4" src="~/images/logo_brand.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Самый популярный отель на Черном море</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">О видах и истории нашего гостиничного комплекса наслышан каждый, с момента его разработки до открытия прошло не мало лет, было потрачено не мало русерсов, но теперь мы можем предоставить Вам один из самых потрясающих отелей в России.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>
</div>

@* Companies *@
<section style="background: #fff">
    <div class="container text-center">
        <div class="row g-5">
            <div class="col md-4">
                <img src="~/images/Home/GitHub_Logo.png" alt="Исходный код" class="img-fluid" />
            </div>
            <div class="col md-4">
                <img src="~/images/Home/GitHub_Logo.png" alt="Исходный код" class="img-fluid" />
            </div>
            <div class="col md-4">
                <img src="~/images/Home/GitHub_Logo.png" alt="Исходный код" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

@* Карточки популярных товаров *@
<section class="popular">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,224L48,234.7C96,245,192,267,288,234.7C384,203,480,117,576,122.7C672,128,768,224,864,250.7C960,277,1056,235,1152,208C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>

    <div class="container py-4">
        <h2 class="text-center">Наши популярные категории услуг</h2>

        <div class="p-5 mb-4 bg-light rounded-3" style="color:black;">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Ресторан</h1>
                <p class="col-md-8 fs-4">Ресторан в котором Вы сможете поробовать более чем 100 блюд с разных кухонь по России, а также за ее пределами, мы учитываем потребности каждого гостя.</p>
                <button class="btn btn-primary btn-lg" type="button">Посмотреть ближе</button>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Наш Сервис</h2>
                    <p>Благодаря современной системе Вы сможете получить услугу не выходя из номера, самостоятельно оформив ее, выбрав необходимые опции и назначить время, об остальном мы позаботитимся.</p>
                    <button class="btn btn-outline-light" type="button">Выбрать услуги</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3" style="color:black;">
                    <h2>Активный отдых</h2>
                    <p>Кроме всего прочего, вы можете также записываться в зал, групповые занятия йогой, экскурсии и дикую рыбалку в море.</p>
                    <button class="btn btn-outline-secondary" type="button">Узнать больше</button>
                </div>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,224L48,234.7C96,245,192,267,288,234.7C384,203,480,117,576,122.7C672,128,768,224,864,250.7C960,277,1056,235,1152,208C1248,181,1344,171,1392,165.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</section>

@* Визитка *@
<section style="background: #fff">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/images/Home/card.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Как это работает</h1>
                <p class="lead">Все что Вам нужно для оформления заявки - зарегистрироваться на этом сайте, иметь как минимум один контракт с нашим гостиничным комплексом, чтобы мы погли доставить Вам ваш заказ.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,96L26.7,96C53.3,96,107,96,160,133.3C213.3,171,267,245,320,256C373.3,267,427,213,480,170.7C533.3,128,587,96,640,117.3C693.3,139,747,213,800,224C853.3,235,907,181,960,186.7C1013.3,192,1067,256,1120,261.3C1173.3,267,1227,213,1280,208C1333.3,203,1387,245,1413,266.7L1440,288L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Почему сайт?</h1>
                <p class="lead">Многие наши поситители благоприятно отзываются о нашей системе, которая позволяет ближе ознакомиться с любой услугой, узнать о ее стоимости, а что самое главное оформить и получить ее без посторонней помощи - разве это не круто?</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/images/Home/designer.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</section>

@* Достижения *@
<section class="achievements">


    <div class="container py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom text-center" style="color:#000; font-weight:600">Наши достижения и награды</h2>
        <div class="row g-5 py-5">
            <div class="col-md-4 d-flex align-items-start">
                <div class="text-center">
                    <h2>Топ-10 Отелей</h2>
                    <p>Наш Гостиничный комплекс вошел в 10 лучший отелей по всему миру!</p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <div class="text-center">
                    <h2>Демократичный отель</h2>
                    <p>Даже обладая такими достоинствами, мы стараемся обеспечить максимальную достпуность по услугами и ценам для всех клиентов, в нашем отеле стать гостем может абсолютно каждый</p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <div class="text-center">
                    <h2>Лучший вид</h2>
                    <p>Только в шанем отеле вы сможете увидеть такие прекрасные пейзажи.</p>
                </div>
            </div>
        </div>
    </div>
</section>

