.admin-sidebar {
    min-height: 90vh;
    font-size: 1rem;
}

a.btn:hover {
    cursor: pointer !important;
}

/* Исчезновение ссылок
.manage-links a{
    display: flex;
   
}
.manage-links:hover{
        display: none;
    }*/