
html, body {
    height: 100%;
    font-size: 1rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.render {
    padding-top: 10vh;
}



.navbar {
    min-height: 10vh;
    font-size: 1.5rem;
}
.navbar .btn {
    font-size: 1.5rem;
}

.admin-sidebar {
    min-height: 90vh;
    font-size: 1rem;
}