html, body {
    height: 100%;
    font-size: 1rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.render {
    padding-top: 10vh;
}

.btn {
    font-size: 1.5rem;
}

.navbar {
    min-height: 10vh;
    font-size: 1.5rem;
}


/* Стиль */
.gradient {
    background: rgb(108,118,255);
    background: linear-gradient(90deg, rgba(108,118,255,1) 0%, rgba(240,79,204,0.7906512946975666) 62%,rgba(255,73,159,0.8046568969384629) 100%);
}

/* Окно авторизации */
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

div.login-form-icon {
    text-align: center;
}

/* Футер */
.footer {
    position: absolute;
    bottom: 0;
    min-width: 20vh;
    white-space: nowrap;
}